.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6rem;
}

.header_logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
}

.header_nav {
  width: 70%;
  display: flex;
  align-items: center;
}

.nav_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.nav_list_item {
  background-color: transparent;
  transition: background-color .25s ease-in-out;
  padding: .5rem;
  border-radius: 1rem;
}

.nav_list_item:hover {
  background-color: rgb(237, 240, 242);
}

