@layer reset {
  * {
    margin: 0;
    padding: 0;

    border: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: unset;
  }

  a:hover {
    text-decoration: none;
  }

  aside,
  nav,
  footer,
  header,
  section,
  main {
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: inherit;
    font-size: inherit;

  }

  ul,
  ol {
    list-style: none;
  }

  input,
  textarea,
  button,
  select {
    background-color: transparent;

    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  input::-ms-clear {
    display: none;
  }

  button,
  input[type="submit"] {
    display: inline-block;

    background: none;
    background-color: transparent;

    box-shadow: none;
  }

  input:focus,
  input:active,
  button:focus,
  button:active {
    outline: none;
  }

  button::-moz-focus-inner {
    padding: 0;

    border: 0;
  }

  legend {
    display: block;
  }

  img,
  picture,
  svg,
  video,
  canvas {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
