/* variables.css */
:root {
  /* Базовый размер шрифта в пикселях */
  --base-font-size: 16px;

  /* Ширины макетов для разных устройств */
  --design-mobile-width: 360px;
  --design-tablet-width: 768px;
  --design-laptop-width: 1024px;
  --design-desktop-width: 1440px;

  /* Цвета */
  --color-default-background: #ffffff;
  --color-primary: #000000;

  /* Шрифты */
  --font-main: 'Roboto', sans-serif ;

  /* Брейкпоинты */
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1440px;
}
