.main {
  display: flex;
  justify-content: space-around;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #4CAF50;
  border-radius: 6px;
  max-width: 50%;
}

.courses {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.checkbox-wrapper {
  display: flex;
  gap: .5rem;
}